name: Release Extension

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip Archive
        run: |
          zip -r Screeps-SC.zip . -x "*.git*" -x ".github/*" -x ".DS_Store" -x "pack_extension.sh"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: Screeps-SC.zip
          generate_release_notes: true
